{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@data": "./data",
                "@database": "./src/database",
                "@objects": "./src/objects",
                "@plugin": "./src/plugin",
                "@utils": "./src/utils"
            }
        }]
    ]
}
