{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@objects": "./src/objects",
                "@plugin": "./src/plugins",
                "@utils": "./src/utils"
            }
        }]
    ]
}
